[Unit]
Description=Initialize the Waydroid container

[Service]
User=root
WorkingDirectory=/root
ExecStart=waydroid init
ExecStartPost=/bin/sh -c 'echo $? > /etc/waydroid.status'

[Install]
WantedBy=multi-user.target
